<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gbif.datarepo.persistence.mappers.AlternativeIdentifierMapper">

  <resultMap id="ALTERNATIVE_IDENTIFIER_MAP" type="AlternativeIdentifier" autoMapping="true">
    <id property="identifier" column="identifier"/>
    <result property="dataPackageKey" column="data_package_key" typeHandler="UuidTypeHandler"/>
    <result property="type" column="type"/>
    <result property="identifier" column="identifier"/>
    <result property="created" column="created" jdbcType="TIMESTAMP"/>
    <result property="createdBy" column="created_by"/>
  </resultMap>

  <select id="get" resultType="AlternativeIdentifier" resultMap="ALTERNATIVE_IDENTIFIER_MAP">
    SELECT identifier, data_package_key, type, created, created_by
    FROM alternative_identifier
    WHERE identifier = #{identifier, jdbcType=OTHER}
  </select>

  <select id="listByDataPackageKey" resultType="AlternativeIdentifier" resultMap="ALTERNATIVE_IDENTIFIER_MAP">
    SELECT identifier, data_package_key, type, created, created_by
    FROM alternative_identifier
    WHERE data_package_key = #{_parameter, jdbcType=OTHER, typeHandler=UuidTypeHandler}
  </select>

  <select id="list" resultType="AlternativeIdentifier" resultMap="ALTERNATIVE_IDENTIFIER_MAP" parameterType="map">
    SELECT identifier, data_package_key, type, created, created_by
    FROM alternative_identifier
    <where>
      <if test="user != null" >
        AND created_by=#{user, jdbcType=OTHER}
      </if>
      <if test="status != null" >
        AND status=#{status, jdbcType=OTHER}
      </if>
      <if test="created != null" >
        AND created=#{created, jdbcType=TIMESTAMP}
      </if>
      <if test="dataPackageKey != null" >
        AND data_package_key=#{dataPackageKey, jdbcType=OTHER, typeHandler=UuidTypeHandler}
      </if>
      <if test="type != null" >
        AND type=#{type, jdbcType=OTHER}
      </if>
    </where>
    <if test="page != null" >
      LIMIT #{page.limit} OFFSET #{page.offset}
    </if>
  </select>

  <select id="count" resultType="Long" parameterType="map">
    SELECT count(*)
    FROM alternative_identifier
    <where>
      <if test="user != null" >
        AND created_by=#{user, jdbcType=OTHER}
      </if>
      <if test="status != null" >
        AND status=#{status, jdbcType=OTHER}
      </if>
      <if test="created != null" >
        AND created=#{created, jdbcType=TIMESTAMP}
      </if>
      <if test="dataPackageKey != null" >
        AND data_package_key=#{dataPackageKey, jdbcType=OTHER, typeHandler=UuidTypeHandler}
      </if>
      <if test="type != null" >
        AND type=#{type, jdbcType=OTHER}
      </if>
    </where>
    <if test="page != null" >
      LIMIT #{page.limit} OFFSET #{page.offset}
    </if>
  </select>

  <insert id="create" parameterType="AlternativeIdentifier" useGeneratedKeys="false">
    INSERT INTO alternative_identifier (identifier, data_package_key, type, created, created_by)
    VALUES (#{identifier, jdbcType=OTHER}, #{dataPackageKey, jdbcType=OTHER, typeHandler=UuidTypeHandler},
    #{type, jdbcType=OTHER}, now(), #{createdBy, jdbcType=OTHER})
  </insert>

  <delete id="delete" parameterType="String">
    DELETE FROM alternative_identifier WHERE identifier = #{identifier, jdbcType=OTHER}
  </delete>

</mapper>
