<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gbif.datarepo.persistence.mappers.DataPackageFileMapper">

  <resultMap id="DATA_PACKAGE_FILE_DATA_MAP" type="DataPackageFile" autoMapping="true">
    <result property="fileName" column="file_name"/>
    <result property="checksum" column="checksum"/>
    <result property="size" column="size"/>
    <result property="format" column="format"/>
  </resultMap>

  <select id="get" resultType="DataPackageFile" resultMap="DATA_PACKAGE_FILE_DATA_MAP">
    SELECT file_name, checksum, size, format
    FROM data_package_file
    WHERE data_package_key = #{dataPackageKey, jdbcType=OTHER, typeHandler=UuidTypeHandler}
    AND file_name = #{fileName, jdbcType=OTHER}
  </select>

  <select id="list" resultType="DataPackageFile">
    SELECT file_name, checksum, size, format
    FROM data_package_file
    <where>
    <if test="_parameter != null" >
      data_package_key = #{_parameter, jdbcType=OTHER, typeHandler=UuidTypeHandler}
    </if>
    </where>
  </select>


  <insert id="create" parameterType="map" useGeneratedKeys="false">
    INSERT INTO data_package_file (data_package_key, file_name, checksum, size, format)
    VALUES(#{dataPackageKey, jdbcType=OTHER, typeHandler=UuidTypeHandler}, #{dpf.fileName, jdbcType=OTHER},
    #{dpf.checksum, jdbcType=OTHER}, #{dpf.size, jdbcType=OTHER}, #{dpf.format, jdbcType=OTHER})
  </insert>

  <update id="update" parameterType="map">
    UPDATE data_package_file SET
      file_name = #{dpf.fileName, jdbcType=OTHER},
      checksum = #{dpf.checksum, jdbcType=OTHER},
      size = #{dpf.size, jdbcType=OTHER},
      format = #{dpf.format, jdbcType=OTHER}
    WHERE data_package_key = #{dataPackageKey, jdbcType=OTHER, typeHandler=UuidTypeHandler}
    AND file_name = #{dpf.fileName,jdbcType=OTHER}
  </update>

  <delete id="delete" parameterType="map">
    DELETE FROM data_package_file
    WHERE data_package_key = #{dataPackageKey, jdbcType=OTHER, typeHandler=UuidTypeHandler}
    AND file_name = #{fileName,jdbcType=OTHER}
  </delete>

</mapper>
